$primary: #814934;
$brighter-primary: #9d5940;
$secondary: #b3a69a;
$accent: #DAA520;
$tertiary: #2f362e;
$background: #212124;
$text: #FCF8F5;
$text-dark: #212124;

$notification-default: #1976d2;
$notification-info: #2196f3;
$notification-success: #4caf50;
$notification-error: #ff5252;
$notification-warning: #ffc107;
$notification-alpha: 0.2;
$notification-border: 1px solid $accent